.slot-machine {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #ff9d00, #eacda3); 
    border: 1px solid #ffd700;
    border-radius: 20px;
    max-width: 750px;
    margin: auto;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
    position: relative;
    background-image: url('https://wallpapercave.com/wp/wp3132120.jpg'); 
}

.reels {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.reel {
    width: 130px;
    height: 130px;
    border: 4px solid #ffd700; 
    border-radius: 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    background-color: #fff;
    box-shadow: inset 0 0 10px #000;
    transition: transform 0.5s ease-out;
    background-image: url('https://wallpapercave.com/wp/wp3132120.jpg'); 
    color: #ccac00; 
}

.spin-animation {
    animation: spin 2s ease-out infinite;
}

@keyframes spin {
    0% { transform: rotateX(0deg); }
    100% { transform: rotateX(360deg); }
}

.controls {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap; 
    gap: 10px; 
    margin-top: 20px;
    color: white; 
    font-weight: bolder;
    text-shadow: 1px 1px 2px black; 
}

.message-container {
    width: 100%; 
    min-height: 60px; 
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #ffd700;
    text-shadow: 1px 1px 2px black;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 20px; 
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%; 
}

button {
    cursor: pointer;
    padding: 10px 25px;
    background-color: #c02d28; 
    background-image: linear-gradient(to right, #d64541, #c02d28);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #c02d28;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
}

button:active {
    transform: translateY(4px);
}

.button-disabled {
    opacity: 0.9; 
    cursor: default; 
    pointer-events: none; 
}

.button-active {
    background-color: #6e6e6e; 
    color: #666; 
    cursor: not-allowed;
}

body {
    background-color: #282828; 
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #ffd700;
    text-shadow: 2px 2px 5px #333;
    text-align: center;
    margin-top: 0;
    font-size: 2.5em;
    padding: 20px;
}

.rules-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffd700;
    border-radius: 10px;
    z-index: 1000;
}

.rules-button {
    margin-top: 10px;
    background-color: #ffc107;
}

.payline {
    position: absolute;
    height: 4px; 
    background-color: #ff0000; 
    width: calc(100% - 20px); 
    left: 10px; 
    transition: opacity 0.3s;
}

.auth-form {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.auth-form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
}

.auth-form button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    cursor: pointer;
}

.auth-form p {
    color: red;
    margin-top: 10px;
}


/* Smaller screens (mobile devices) */
@media (max-width: 768px) {
    .slot-machine {
        padding: 10px;
        max-width: 90%; 
    }

    .reel {
        width: 80px;  
        height: 80px;
        font-size: 3em;
    }

    .controls {
        flex-direction: column;
        gap: 5px;
    }

    .button, .rules-button {
        padding: 8px 20px; 
        font-size: 14px;
    }

    .message-container {
        font-size: 0.8em;
        padding: 5px 10px; 
        width: 100%; 
        box-sizing: border-box; 
    }
}

/* Medium screens (tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    .reel {
        width: 100px;  
        height: 100px;
        font-size: 4em;
    }

    .controls {
        gap: 8px;
    }

    .button, .rules-button {
        padding: 9px 22px;
        font-size: 15px;
    }

    .message-container {
        font-size: 0.9em;
        padding: 8px 15px; 
        width: 95%; 
        box-sizing: border-box;
    }
}

/* Larger screens (desktops) */
@media (min-width: 1025px) {
    .slot-machine {
        max-width: 750px; 
    }

    .reel {
        width: 130px;  
        height: 130px;
        font-size: 5em;
    }

    .button, .rules-button {
        padding: 10px 25px;
        font-size: 16px;
    }

    .message-container {
        font-size: 1em;
        padding: 10px 20px; 
        width: 80%; 
        box-sizing: border-box; 
        margin: auto; 
    }
}

@media (max-width: 480px) {
    .slot-machine {
        padding: 5px;
        max-width: 100%;  
        background-size: cover; 
    }

    .reels {
        margin: 20px 0; 
    }

    .reel {
        width: 60px; 
        height: 60px;
        margin: 0 5px;
        font-size: 2em;
        border-width: 3px; 
    }

    .controls {
        flex-direction: column;
        align-items: center;
        gap: 5px; 
    }

    button {
        padding: 6px 15px; 
        font-size: 12px; 
    }

    .message-container {
        font-size: 0.7em; 
        padding: 5px 10px; 
        width: 100%; 
        box-sizing: border-box; 
    }

    .rules-button, .button {
        width: 90%; 
    }
}